<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <main class="interactive">

      <div class="toplevel"
        <h1><img src="./assets/startimes-logo1000.jpg" alt="Seattle Times Star Times: Winter 2018" style="padding-top: 20px; color: @df-light-gray;"></h1>

      <div class="tiles">
        <center><img src="./assets/star-times-group.png" alt="Seattle Times Star Times: Winter 2018" width="800"></center>
      </div>

      </div><center>
          <p>Three times a year, <em>The Seattle Times</em> honors the best high-school athletes and coaches in Seattle-area with our Star Times all-area teams. The Winter selections are for boys and girls basketball, headlined by three picks from top-ranked Garfield, the two-time girls KingCo MVP and Cleveland's all-time leading scorer <em>and</em> rebounder.</p>
          <p><strong>The selection process:</strong> Seattle Times staffers select Star Times all-area honorees from athletes in King and Snohomish counties, plus schools in the Metro and WesCo conferences. </p>
          <p><h4>Meet our Winter 2018 selections below.</h4></p>
          <p class="credit">Published Feb. 26, 2018</p></center>
      </div>
      <section class="slider">
        <a class="pan left" href="javascript:;">&laquo;</a>
        <div class="slide-container">
          <div class="row">
            <% json.StarTimesWinter2018_stars.forEach(function(student, i) { %>
            <div class="student">
              <div class="image-frame">
                <!-- replace this image's URL with the actual student images when available -->
                <img src="./assets/athletes/<%= student.image %>" data-student="<%= student.name %>">
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <a class="pan right" href="javascript:;">&raquo;</a>
      </section>
      <section class="details">
        <h3>Click or tap on an athlete for more.</h3>
      </section>

      <div class="credit">
      Photos by Courtney Pedroza<br/>
      Athlete bios by Jayda Evans and Nathan Joyce<br/>
      Production by Evan Webeck
      </div>

    </main>

    <%= t.include("partials/_navBottom.html") %>

    <script>
studentData = <%= JSON.stringify(json.StarTimesWinter2018_stars) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
